<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <title><%= title %> | Chicken | List Orders </title>
   <!--  //title coming from res.local// -->
    <!-- <link rel ="stylesheet" href="/stylesheets/main.css"> -->
  </head>
  <body>
    <h1> Orders </h1>
    <a href ="/chickennuggets/order">New Order</a>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Flavor</th>
          <th>Qty</th>
          <th>Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(function(order) {%>
          <tr>
            <td><%= order.name %></td>
            <td><%= order.flavor %></td>
            <td><%= order.qty %></td>
            <td><%= order.createdAt %></td>
            <td>
              <form action="/chickennuggets/order/<%= order._id %>/complete" method="post">
              <input type="submit" value = "Complete">
              </form>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <h1> Completed Orders </h1>
    <!-- <a href ="/chickennuggets/order">Completed Orders</a> -->
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Flavor</th>
          <th>Qty</th>
          <th>Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(function(order) {%>
          <tr>
            <td><%= order.name %></td>
            <td><%= order.flavor %></td>
            <td><%= order.qty %></td>
            <td><%= order.createdAt %></td>
            <td>
              <form action="/chickennuggets/order/<%= order._id %>/complete===true" method="update">
              <!-- <input type="submit" value = "Complete"> -->
              </form>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </body>
</html>
