<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <title><%= title %> | Pizza Shop </title>
    <%- include('stylesheets')%>
  </head>
  <body>
    <h1> I shall make you <%= qty %> pizza with <%=
    topping %></h1>
   <%- include('javascripts') %>
  </body>
</html>

